@charset "UTF-8";

@font-face {
  font-family: 'HurmeGeometricSans3-Bold';
  src: local('HurmeGeometricSans3-Bold'), url('../fonts/HurmeGeometricSans3-Bold.ttf') format('truetype');
}
@font-face {
  font-family: 'HurmeGeometricSans3-Regular';
  src: local('HurmeGeometricSans3-Regular'), url('../fonts/HurmeGeometricSans3-Regular.ttf') format('truetype');
}
@font-face {
  font-family: 'HurmeGeometricSans3-Black';
  src: local('HurmeGeometricSans3-Black'), url('../fonts/HurmeGeometricSans3-Black.ttf') format('truetype');
}
@font-face {
  font-family: 'HurmeGeometricSans3-Light';
  src: local('HurmeGeometricSans3-Light'), url('../fonts/HurmeGeometricSans3-Light.ttf') format('truetype');
}

$light: 'HurmeGeometricSans3-Light', sans-serif;
$regular: 'HurmeGeometricSans3-Regular', sans-serif;
$bold: 'HurmeGeometricSans3-Bold', sans-serif;
$black: 'HurmeGeometricSans3-Black', sans-serif;
$blue: #13294b;
$text: #13294b;

html,
body {
  margin: 0;
  padding: 0;
}

@mixin text {
  margin: 0;
  padding: 0;
  line-height: inherit;
  color: inherit;
  font-family: inherit;
  font-weight: inherit;
}

@mixin img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}

#es-sodastream.es-sodastream {
  font-family: $regular;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.2;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0;
  overflow: hidden;
  color: $text;
  background: #ebe6e1;

  * {
    box-sizing: border-box;
  }

  h2,
  h3,
  h4,
  h5 {
    font-family: $regular;
    color: $black;
  }
  .es-kv {
    margin: 0;
    padding: 0;
    position: relative;
    &__logo {
      position: relative;
      margin: 0 auto;
      padding: 30px 15px;
      max-width: 90%;
    }
    &__title {
      position: relative;
      @include text;
      font-family: $bold;
      padding: 15px;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 700;
    }
    &__packshot {
      position: relative;
      &--photo {
        @include img;
        padding-top: 50px;
        position: relative;
        z-index: 1;
      }
    }
    &__bgtitle {
      position: absolute;
      top: -40px;
      left: 50%;
      z-index: 0;
      @include text;
      font-family: $black;
      padding: 15px;
      text-align: center;
      font-size: 100px;
      font-weight: 900;
      color: #e5dcd3;
      transform: translate(-50%);
    }
    &__img {
      @include img;
    }
    &__text {
      @include text;
      font-family: $light;
      padding: 15px;
      font-weight: 100;
      text-align: center;
    }

  }

  .es-posibilities {
    margin: 30px 0 0;
    &__title {
      position: relative;
      @include text;
      font-family: $bold;
      padding: 15px 15px 0;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 700;
    }
    &__img {
      @include img;
    }
  }

  .es-info {
    margin: 0;
    padding: 0;
    background-color: $blue;
    &__title {
      position: relative;
      @include text;
      margin: 0 auto;
      color: #fff;
      font-family: $bold;
      padding: 25px;
      text-align: center;
      text-transform: uppercase;
      font-size: 28px;
      font-weight: 700;
    }
    &__text {
      width: 90%;
      @include text;
      margin: 0 auto;
      font-family: $light;
      color: #fff;
      padding: 0 15px 25px;
      font-weight: 100;
      text-align: center;
    }
  }

  .es-photo {
    background: linear-gradient($blue 0%, $blue 50%, transparent 50%, transparent 100%);
    &__img {
      @include img;
      padding: 20px 20px 0;
    }
  }

  .es-triple {
    padding: 0 15px;
    &__wrapper {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
    }
    &__single {
      height: 100%;
      position: relative;
    }
    &__desc {
      @include text;
      font-family: $bold;
      font-size: 30px;
      position: absolute;
      bottom: 15%;
      left: 50%;
      transform: translate(-50%);
    }
    &__img {
      @include img;
    }
  }

  .es-slider {
    background-color: #fea245;
    margin: 64px 0 0;
    padding-bottom: 64px;
    &__title {
      @include text;
      text-align: center;
      font-size: 28px;
      font-weight: 700;
      line-height: 0.1;
      padding: 60px 16px 0 40px;
    }
    &__wrapper {
      padding: 56px 16px 0 16px;
    }
    &__content {
      max-width: 650px;
      padding: 16px 24px;
      // margin: 0 auto;
      background: #fff;
      border-radius: 16px;
      box-shadow: 8px 16px 40px rgba(0, 0, 0, 0.1);
    }
    &__persona {
      display: flex;
      flex-flow: column;
      align-items: center;
      justify-content: flex-end;
    }
    &__img {
      @include img;
    }
    &__imgMoved {
      position: relative;
    }
    &__podpis {
      @include text;
      text-align: center;
      font-size: 12px;
      padding-top: 18px;
    }
    &__photo {
      margin-bottom: 16px;
    }
    &__content {
      position: relative;
    }
    &__slide {
      padding-left: 32px;
      padding-top: 15px;
      position: relative;
    }
    &__number {
      @include text;
      position: absolute;
      top: 0px;
      left: 0px;
      font-size: 145px;
      font-weight: 700;
      color: #fea245;
      opacity: 0.34;
      line-height: 1;
    }
    .swiper-button-prev:after,
    .swiper-container-rtl .swiper-button-next:after {
      display: none;
    }
    .swiper-button-next:after,
    .swiper-container-rtl .swiper-button-prev:after {
      display: none;
    }
    .swiper-button-next,
    .swiper-container-rtl .swiper-button-prev {
      right: 31%;
      top: auto !important;
      bottom: -44px !important;
    }
    .swiper-button-prev,
    .swiper-container-rtl .swiper-button-next {
      left: 31%;
      top: auto !important;
      bottom: -44px !important;
    }
    .swiper-container-horizontal > .swiper-pagination-bullets,
    .swiper-pagination-custom,
    .swiper-pagination-fraction {
      bottom: 0px;
    }
    .swiper-pagination {
      position: absolute;
      bottom: -32px;
      left: 50%;
      transform: translateX(-50%);
      text-align: center;
    }
    .swiper-pagination-bullet {
      width: 12px;
      height: 12px;
      display: inline-block;
      border-radius: 50%;
      background: #fff;
      border: 1px solid $black;
      opacity: 1;
      &:not(:last-child) {
        margin-right: 6px;
      }
    }
    .swiper-pagination-bullet-active {
      opacity: 1;
      background: $black;
    }
  }

  @media screen and (min-width: 500px) {
    .es-triple {
      &__wrapper {
        flex-wrap: nowrap;
      }
    }
  }
  @media screen and (min-width: 768px) {
    .es-kv {
      min-height: 430px;
      &__logo {
        position: relative;
        margin: 0 20px;
        padding: 15px;
        max-width: 50%;
      }
      &__title {
        position: absolute;
        left: 20px;
        top: 40%;
        padding: 15px;
        text-align: left;
        font-size: 40px;
      }
      &__packshot {
        position: absolute;
        right: 0;
        max-width: 40%;
        &--photo {
          @include img;
          padding: 0;
          position: relative;
          z-index: 1;
        }
      }
      &__bgtitle {
        position: absolute;
        top: -50px;
        left: -35%;
        padding: 15px;
        font-size: 180px;
        font-weight: 900;
        color: #e5dcd3;
      }
    }
    .es-slider {
      background: url("../images/slider.png");
      background-repeat: no-repeat;
      background-position: 125%;
      background-size: contain;
      background-color: #fea245;
      &__title {
        text-align: left;
        padding: 60px 16px 0 150px;
      }
      &__content {
        display: flex;
        flex-flow: row-reverse;
        padding: 32px;
      }
      &__persona {
        min-width: 136px;
        margin-left: 32px;
      }
      &__imgMoved {
        position: absolute;
        top:-40px;
        right: -20px;
      }
      &__job {
        margin-bottom: 0;
      }
      .swiper-button-next,
      .swiper-container-rtl .swiper-button-prev {
        right: 37%;
      }
      .swiper-button-prev,
      .swiper-container-rtl .swiper-button-next {
        left: 37%;
      }
    }
  }
  @media screen and (min-width: 860px) {

  }
  @media screen and (min-width: 998px) {


  }
}

@keyframes slidedown {
  from {
    opacity: 0;
    transform: translateY(-32px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes slideright {
  from {
    opacity: 0.3;
    transform: translateX(-100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes slideleft {
  from {
    opacity: 0.3;
    transform: translateX(100px);
  }

  to {
    opacity: 1;
    transform: translateX(0);
  }
}
